#container_pagina_inicial_secao_apresentacao {
    background-color: white;
    font-family: var(--fonte-principal);
    display: flex;
    align-items: center;
}

.container_pagina_inicial_secao_apresentacao_texto {
    padding: 68px 0px 130px 40px;
    width: 70%;
    box-sizing: border-box;
}

.container_pagina_inicial_secao_apresentacao_texto h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

.container_pagina_inicial_secao_apresentacao_texto p {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;
}

.container_pagina_inicial_secao_apresentacao_texto p span {
    color: var(--azul-princial);
}

.container_pagina_inicial_secao_apresentacao_imagem {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.imagem-pagina-principal {
    width: 40vw;
}

#container_pagina_inicial_secao_funcionalidades {
    font-family: var(--fonte-principal);
    font-weight: bold;
    font-size: 25px;
    padding: 70px 40px
}

.container_pagina_inicial_secao_funcionalidades_cards {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.container_pagina_inicial_secao_funcionalidades_cards div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_pagina_inicial_secao_funcionalidades_cards div img {
    width: 80px;
    height: auto;
    margin-bottom: 12px;
}

.container_pagina_inicial_secao_funcionalidades_cards div a {
    background-color: var(--azul-princial);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    padding: 10px 18px;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    transition: background-color 0.3s;
    transition: transform 0.3s ease;
}

.container_pagina_inicial_secao_funcionalidades_cards div a:hover {
    transform: scale(1.1);
    background-color: #1c5fc1;
}

