.faq-itens {
    border: none;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.faq-itens summary {
    cursor: pointer;
    padding: 15px 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    font-family: var(--fonte-principal);
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}

.faq-resposta {
    background-color: #f9f9f9;
    padding: 20px 20px;
    font-family: var(--fonte-principal);
    font-size: 14px;
    color: #333;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
