.card_consulta {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    width: 500px;
    padding: 25px 0px 30px 25px;
    gap: 40px;
    display: flex;

    border-radius: 5px;
    background-color: var(--cinza-claro);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.card_consulta_conteudo_consulta{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.card_consulta_conteudo_consulta h2 {
    color: var(--azul-princial);
    font-family: var(--fonte-principal);
    font-size: 20px;
}

.card_consulta_conteudo_consulta p {
    margin-top: 10px;
    font-family: var(--fonte-principal);
    font-size: 15px;
}

.card_consulta_conteudo_consulta a {
    font-family: var(--fonte-principal);
    background-color: var(--azul-princial);
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.card_consulta_botao {
    background-color: var(--azul-princial); 
    color: #ffffff; 
    border: none;
    border-radius: 6px; 
    padding: 10px 20px;
    margin-top: 10px;
    max-width: 190px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card_consulta_botao:hover {
    background-color: #1a64d0; 
}