/* Fundo do modal */
.modal_overlay_acesso {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal_conteudo_acesso {
  background-color: #fff;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  position: relative;
  animation: fadeIn 0.3s ease-out;
}


.modal_conteudo_acesso_cabecalho h2 {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  text-align: center;
}

.modal_conteudo_acesso_cabecalho p {
  margin: 0;
  font-size: 1rem;
  text-align: center;
  color: #333;
}

/* Botão de fechar */
.modal_conteudo_acesso_cabecalho button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.modal_conteudo_acesso_cabecalho button img {
  width: 20px;
  height: 20px;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #eee;
}

/* Botão de ação */
.modal_acesso_botao {
  display: flex;
  justify-content: center;
}

.modal_acesso_botao_login {
  background-color: var(--azul-princial);
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal_acesso_botao_login:hover {
  background-color: #0056b3;
}


